.gender-selector {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}
  
.gender-selector .form-label {
    font-size: 12px;
    font-weight: 500;
    color: #000;
}
  
.form-label {
    margin-bottom: .5rem;
}

label {
    display: inline-block;
}

.btn-group{
    display: flex;
    margin-top: -10px;
    gap: 5px !important;
    flex-wrap: wrap;
}

.gender-button {
    background-color: #fff;
    color: #424242 !important;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 8px 16px;
    margin-right: 8px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: all 0.3s ease;
    height: 52px !important;
}
  
.gender-button.selected {
    background-color: #000;
    color: #fff !important;
    border: 1px solid #000;
}
  
.gender-button:hover {
    background-color: #424242 !important;
    color: #fff !important;
    border: 1px solid #000;
}
  
.btn-group {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    margin-top: -10px;
}
